body {background-color:black;font-family:arial;color:white;}
h1{color:grey;font-family:verdana}
canvas { background:#fff; border:1px solid #ccc; width:400px; height:160px }

.maindiv {
    background-color:white;
    font-family:arial;
    color:black;
    width:300px;
    padding:20px;
    border-radius:25px;
    margin: auto;
}
